/Starter Project Styles*/

*, *:before, *:after{
    box-sizing:border-box;
}


html {
  background-color: #E2DAD5; 
}

img{
    max-width:100%;
    height:auto;
    object-fit:cover;
    padding-bottom: 20px;
}

body{
    letter-spacing: .5px;
    line-height: 1.5;  
    padding: 10%;
    font-family: franklin-gothic-urw,sans-serif;
    font-weight: 500;
    font-style: normal;
   
}




.box{
	
	height:55px;
    max-width:100%;
    
    
    
}
 
.black{
	
    position:relative;

}

.cafe{
    position: relative;
    top:35px;
    color: white;
    background-color: black;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 100%;
    
    
}




img {
    width: 100%;
    height:auto;
    object-fit: cover;
    padding-bottom: 20px;

}



.menutitle{
    border: .75px solid #707070;
    text-align: center;
    background-color:white;
    
}


iframe{
    max-width:100%;
    
}

.location{
    float:left;
}

.hours{
    right
    
}

h1 {
    color: gray;
    font-family: franklin-gothic-urw,sans-serif;
    font-weight: 500;
    font-style: normal;
}
h2 {
    color:#803A3A;
    
    font-weight: 500;
}

img{
    max-width: 100%;
}

.contactform{
    height:25px;
    max-width:50%;
}

.contactformmessage{
    height:100px;
    width:350px;
}

h3{
    color:#803A3A;
    margin-bottom: 0px;
 
}





.additions{
   font-family: franklin-gothic-urw,sans-serif;
    font-weight: 400;
    font-style: italic;
    margin-top: 4px;
    
}

.paniniprice{
    color:black;
    font-family: franklin-gothic-urw,sans-serif;
    font-weight: 400;
    font-style: normal;
    
}

.menuitem{
    font-family: franklin-gothic-urw,sans-serif;
    font-weight: 700;
    font-style: normal;
    
    
}


.description{
    font-family: franklin-gothic-urw,sans-serif;
    font-weight: 400;
    font-style: normal;
    
}

.otherfood{
    font-family: franklin-gothic-urw,sans-serif;
    font-weight: 400;
    font-style: normal;
}

.paragraph{
    
 font-family: franklin-gothic-urw,sans-serif;
    font-weight: 400;
    font-style: normal;
}

.price{
    font-family: franklin-gothic-urw,sans-serif;
    font-weight: 400;
    font-style: normal;
    
}



h4{
    display: grid;
    grid-template-columns: 50% 16.67% 16.67% 16.67%;
   font-family: franklin-gothic-urw,sans-serif;
font-weight: 500;
font-style: normal;
        
    
    }


.otherdrinks{
     display: grid;
    grid-template-columns: 50% 50%;
    
    font-family: franklin-gothic-urw,sans-serif;
    font-weight: 500;
    font-style: normal;
 
    
}



.otherfood{
    display: grid;
    grid-template-columns: 50% 50%;
    font-family: franklin-gothic-urw,sans-serif;
    font-weight: 500;
    font-style: normal;
    
    
}


.locationandhours{
    
    display: grid;
    grid-template-columns: 58% 50%;
    font-family: franklin-gothic-urw,sans-serif;
    font-weight: 500;
    font-style: normal;
}
