/Starter Project Styles*/

*, *:before, *:after{
    box-sizing:border-box;
}

* {
    margin: 0;

}


@-ms-viewport{
    width: device-width;
}

html {
    background-color: #E2DAD5; 
   
}
.container {
    background-image: src(img/beansandcup.jpeg);
    background-repeat: no-repeat;
    background-position: left center;
    height: 400px;
   
}


body{
    letter-spacing: .5px;
    line-height: 1.5;
    font-family: franklin-gothic-urw,sans-serif;
    font-weight: 500;
    font-style: normal;
    
   
}

.content{
    margin-left: 35px;
    margin-right:35px;
    padding-bottom:50px;
}



.cafe{
    position: relative;
    
    color: white;
    background-color: black;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 100%;
    
    
}




img {
    width: 100%;
    height:auto;
    object-fit: cover;
    padding-bottom: 20px;

}



.menutitle{
    border: .75px solid #707070 ;
    text-align: center;
    background-color:white;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 14px;
    width:400px;
    
}


.about{
    padding-top: 16px;
}


button, input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    max-width: 100%;
}


iframe{
    max-width:100%;
    
}

.location{
    float:left;
}

.hours{
    right
    
}

h1 {
    color: gray;
    font-family: franklin-gothic-urw,sans-serif;
    font-weight: 500;
    font-style: normal;
}
h2 {
    color:#803A3A;
    font-weight: 500;
    margin-bottom:0px;
   
}

.paragraph {
    margin-top:4px;
    line-height: 17pt;
    padding-bottom: 30px;
    
    
}

img{
    max-width: 100%;
}

.contact{
    padding-top: 5px;
    padding-bottom:8px;
    
    
}

.contactform{
    height:25px;
    max-width:50%;
    
}




.contactformmessage{
    height:100px;
    width:100%;
}

.hotdrinks{
    padding-top: 20px;
}
.drinks{
    padding-bottom: 20px;
}

h3{
    color:#803A3A;
    
    
 
}

.panini{
    margin-bottom: 0px;
}

.paninititle{
    padding-bottom: 16px;
    
}


.description{
    margin-top:4px;
}


.additions{
   font-family: franklin-gothic-urw,sans-serif;
    font-weight: 400;
    font-style: italic;
    margin-top: 4px;
    padding-bottom: 16px;
}

.paniniprice{
    color:black;
    font-family: franklin-gothic-urw,sans-serif;
    font-weight: 400;
    font-style: normal;
    
}

.menuitem{
    font-family: franklin-gothic-urw,sans-serif;
    font-weight: 700;
    font-style: normal;
    
    
}


.description{
    font-family: franklin-gothic-urw,sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 17pt;
}

.iceddrinks{
    
    padding-bottom: 20px;
   
    
    
}

.otherfood{
    font-family: franklin-gothic-urw,sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 20px;
}

.paragraph{
    
    font-family: franklin-gothic-urw,sans-serif;
    font-weight: 400;
    font-style: normal;
}

.price{
    font-family: franklin-gothic-urw,sans-serif;
    font-weight: 400;
    font-style: normal;
    
}



h4{
    display: grid;
    grid-template-columns: 50% 16.67% 16.67% 16.67%;
    font-family: franklin-gothic-urw,sans-serif;
    font-weight: 500;
    font-style: normal;
        
    
    }


.otherdrinks{
     display: grid;
    grid-template-columns: 50% 50%;
    
    font-family: franklin-gothic-urw,sans-serif;
    font-weight: 500;
    font-style: normal;
    padding-bottom: 20px;
 
    
}


.food{
    margin-top:50px;
    
    
    
}


.description{
    padding-bottom: 20px;
}


.otherfood{
    display: grid;
    grid-template-columns: 50% 50%;
    font-family: franklin-gothic-urw,sans-serif;
    font-weight: 500;
    font-style: normal;
  
}

.otherfoodtitle{
    padding-bottom: 16px;

}

.otherfoodgroup{
    margin-top:50px;
    
    
}


.locationandhours{
    
    display: grid;
    grid-template-columns: 175px 50%;
    font-family: franklin-gothic-urw,sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 17pt;
    padding-bottom: 30px;
}
