/* Styles for Project 4 */

body{
    letter-spacing: .5px;
    line-height: 1.5;  
    padding: 10%;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 300;
        
}

h1 {
    color:red
}
h2 {
    font-weight: 500;
}

img{
    max-width: 100%;
}
ul {
    margin-bottom: 2rem;
}
